<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="exploer_offers nospace">
      <div class="title_section"><h2></h2></div>
      <div class="clearfix"></div>
      <div class="col-12 explore-cat-list">
        <div class="row">
          <div class="col-4 banner_box">
            <div
              class="slide ripple_effect home-item-info"
              id="item_1_3025_19168"
            >
              <img
                class="banner_img lazyautosizes ls-is-cached lazyloaded"
                src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008647_1.jpg"
                data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008647_1.jpg"
                data-sizes="auto"
                title="Header1"
                alt="Header1"
                sizes="273px"
              />
            </div>
          </div>
          <div class="col-4 banner_box">
            <div
              class="slide ripple_effect home-item-info"
              id="item_1_3025_19167"
            >
              <img
                class="banner_img lazyautosizes ls-is-cached lazyloaded"
                src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008656_2.jpg"
                data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008656_2.jpg"
                data-sizes="auto"
                title="Header2"
                alt="Header2"
                sizes="273px"
              />
            </div>
          </div>
          <div class="col-4 banner_box">
            <div
              class="slide ripple_effect home-item-info"
              id="item_1_3025_19166"
            >
              <img
                class="banner_img lazyautosizes ls-is-cached lazyloaded"
                src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008665_3.jpg"
                data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008665_3.jpg"
                data-sizes="auto"
                title="Header3"
                alt="Header3"
                sizes="273px"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 banner_box">
            <div
              class="slide ripple_effect home-item-info"
              id="item_1_3025_19005"
            >
              <a
                href="https://www.jiomart.com/staples"
                rel="nofollow"
                class="home_ripple"
                title="Staples"
              >
                <img
                  class="banner_img lazyautosizes ls-is-cached lazyloaded"
                  src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008700_4.jpg"
                  data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008700_4.jpg"
                  data-sizes="auto"
                  title="Staples"
                  alt="Staples"
                  sizes="273px"
                />
              </a>
            </div>
          </div>
          <div class="col-4 banner_box">
            <div
              class="slide ripple_effect home-item-info"
              id="item_1_3025_19006"
            >
              <a
                href="https://www.jiomart.com/dry-fruits-store"
                rel="nofollow"
                class="home_ripple"
                title="Dryfruits"
              >
                <img
                  class="banner_img lazyautosizes ls-is-cached lazyloaded"
                  src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008708_5.jpg"
                  data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008708_5.jpg"
                  data-sizes="auto"
                  title="Dryfruits"
                  alt="Dryfruits"
                  sizes="273px"
                />
              </a>
            </div>
          </div>
          <div class="col-4 banner_box">
            <div
              class="slide ripple_effect home-item-info"
              id="item_1_3025_19007"
            >
              <a
                href="https://www.jiomart.com/c/groceries/snacks-branded-foods/10"
                rel="nofollow"
                class="home_ripple"
                title="Snacks &amp; Branded Foods"
              >
                <img
                  class="banner_img lazyautosizes ls-is-cached lazyloaded"
                  src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008719_6.jpg"
                  data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008719_6.jpg"
                  data-sizes="auto"
                  title="Snacks &amp; Branded Foods"
                  alt="Snacks &amp; Branded Foods"
                  sizes="273px"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 banner_box">
            <div
              class="slide ripple_effect home-item-info"
              id="item_1_3025_19008"
            >
              <a
                href="/c/bestdeals/fruits-vegetables-trs-sept-2022/8532"
                rel="nofollow"
                class="home_ripple"
                title="Fruits &amp; Vegetables"
              >
                <img
                  class="banner_img lazyautosizes ls-is-cached lazyloaded"
                  src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008751_7.jpg"
                  data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008751_7.jpg"
                  data-sizes="auto"
                  title="Fruits &amp; Vegetables"
                  alt="Fruits &amp; Vegetables"
                  sizes="273px"
                />
              </a>
            </div>
          </div>
          <div class="col-4 banner_box">
            <div
              class="slide ripple_effect home-item-info"
              id="item_1_3025_19009"
            >
              <a
                href="/c/bestdeals/dairy-bakery-trs-sept-2022/8533"
                rel="nofollow"
                class="home_ripple"
                title="Dairy &amp; Bakery"
              >
                <img
                  class="banner_img lazyautosizes ls-is-cached lazyloaded"
                  src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008763_8.jpg"
                  data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008763_8.jpg"
                  data-sizes="auto"
                  title="Dairy &amp; Bakery"
                  alt="Dairy &amp; Bakery"
                  sizes="273px"
                />
              </a>
            </div>
          </div>
          <div class="col-4 banner_box">
            <div
              class="slide ripple_effect home-item-info"
              id="item_1_3025_19010"
            >
              <a
                href="/navratri-special-recipes"
                rel="nofollow"
                class="home_ripple"
                title="Festive Recipes to Try For Navaratri "
              >
                <img
                  class="banner_img lazyautosizes ls-is-cached lazyloaded"
                  src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008769_9.jpg"
                  data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008769_9.jpg"
                  data-sizes="auto"
                  title="Festive Recipes to Try For Navaratri "
                  alt="Festive Recipes to Try For Navaratri "
                  sizes="273px"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 banner_box">
            <div
              class="slide ripple_effect home-item-info"
              id="item_1_3025_19011"
            >
              <a
                href="https://www.jiomart.com/sweets-and-chocolates"
                rel="nofollow"
                class="home_ripple"
                title="Sweets, Hampers &amp; Chocolates"
              >
                <img
                  class="banner_img lazyautosizes ls-is-cached lazyloaded"
                  src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008802_10.jpg"
                  data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008802_10.jpg"
                  data-sizes="auto"
                  title="Sweets, Hampers &amp; Chocolates"
                  alt="Sweets, Hampers &amp; Chocolates"
                  sizes="273px"
                />
              </a>
            </div>
          </div>
          <div class="col-4 banner_box">
            <div
              class="slide ripple_effect home-item-info"
              id="item_1_3025_19018"
            >
              <a
                href="https://www.jiomart.com/c/groceries/beverages/33"
                rel="nofollow"
                class="home_ripple"
                title="Beverages &amp; Drinks"
              >
                <img
                  class="banner_img lazyautosizes ls-is-cached lazyloaded"
                  src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008812_11.jpg"
                  data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008812_11.jpg"
                  data-sizes="auto"
                  title="Beverages &amp; Drinks"
                  alt="Beverages &amp; Drinks"
                  sizes="273px"
                />
              </a>
            </div>
          </div>
          <div class="col-4 banner_box">
            <div
              class="slide ripple_effect home-item-info"
              id="item_1_3025_19028"
            >
              <a
                href="https://www.jiomart.com/c/groceries/snacks-branded-foods/biscuits-cookies/11"
                rel="nofollow"
                class="home_ripple"
                title="Biscuits &amp; Cookies"
              >
                <img
                  class="banner_img lazyautosizes ls-is-cached lazyloaded"
                  src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008825_12.jpg"
                  data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1664008825_12.jpg"
                  data-sizes="auto"
                  title="Biscuits &amp; Cookies"
                  alt="Biscuits &amp; Cookies"
                  sizes="273px"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
