<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="col-12 explore-cat-list">
      <div class="row">
        <div class="col-4 banner_box">
          <div
            class="slide ripple_effect home-item-info"
            id="item_1_3063_19488"
          >
            <img
              class="banner_img lazyautosizes lazyloaded"
              src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774927_1.jpg"
              data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774927_1.jpg"
              data-sizes="auto"
              title="Header 1"
              alt="Header 1"
              sizes="125px"
            />
          </div>
        </div>
        <div class="col-4 banner_box">
          <div
            class="slide ripple_effect home-item-info"
            id="item_1_3063_19489"
          >
            <img
              class="banner_img lazyautosizes lazyloaded"
              src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774965_2.jpg"
              data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774965_2.jpg"
              data-sizes="auto"
              title="Header 2"
              alt="Header 2"
              sizes="125px"
            />
          </div>
        </div>
        <div class="col-4 banner_box">
          <div
            class="slide ripple_effect home-item-info"
            id="item_1_3063_19490"
          >
            <img
              class="banner_img lazyautosizes lazyloaded"
              src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774980_3.jpg"
              data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774980_3.jpg"
              data-sizes="auto"
              title="Header 3"
              alt="Header 3"
              sizes="125px"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 banner_box">
          <div
            class="slide ripple_effect home-item-info"
            id="item_1_3063_19041"
          >
            <a
              href="/c/bestdeals/cookware_09_20_01_02/8895"
              rel="nofollow"
              class="home_ripple"
              title="Cookware"
            >
              <img
                class="banner_img lazyautosizes lazyloaded"
                src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774537_4.jpg"
                data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774537_4.jpg"
                data-sizes="auto"
                title="Cookware"
                alt="Cookware"
                sizes="125px"
              />
            </a>
          </div>
        </div>
        <div class="col-4 banner_box">
          <div
            class="slide ripple_effect home-item-info"
            id="item_1_3063_19042"
          >
            <a
              href="/c/bestdeals/curtains-more_09_20_01/8896"
              rel="nofollow"
              class="home_ripple"
              title="Curtains &amp; More"
            >
              <img
                class="banner_img lazyautosizes lazyloaded"
                src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774566_5.jpg"
                data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774566_5.jpg"
                data-sizes="auto"
                title="Curtains &amp; More"
                alt="Curtains &amp; More"
                sizes="125px"
              />
            </a>
          </div>
        </div>
        <div class="col-4 banner_box">
          <div
            class="slide ripple_effect home-item-info"
            id="item_1_3063_19043"
          >
            <a
              href="https://www.jiomart.com/furniture-mini-store"
              rel="nofollow"
              class="home_ripple"
              title="Furniture &amp; Home Improvement"
            >
              <img
                class="banner_img lazyautosizes lazyloaded"
                src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663849422_Msite_6.jpg"
                data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663849422_Msite_6.jpg"
                data-sizes="auto"
                title="Furniture &amp; Home Improvement"
                alt="Furniture &amp; Home Improvement"
                sizes="125px"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 banner_box">
          <div
            class="slide ripple_effect home-item-info"
            id="item_1_3063_19044"
          >
            <a
              href="https://www.jiomart.com/home-decor"
              rel="nofollow"
              class="home_ripple"
              title="Festive Lighting &amp; Home Decor"
            >
              <img
                class="banner_img lazyautosizes lazyloaded"
                src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774631_7.jpg"
                data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774631_7.jpg"
                data-sizes="auto"
                title="Festive Lighting &amp; Home Decor"
                alt="Festive Lighting &amp; Home Decor"
                sizes="125px"
              />
            </a>
          </div>
        </div>
        <div class="col-4 banner_box">
          <div
            class="slide ripple_effect home-item-info"
            id="item_1_3063_19045"
          >
            <a
              href="/c/bestdeals/dinning-serveware_09_20_01/8897"
              rel="nofollow"
              class="home_ripple"
              title="Dining &amp; Serveware"
            >
              <img
                class="banner_img lazyautosizes lazyloaded"
                src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774652_8.jpg"
                data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774652_8.jpg"
                data-sizes="auto"
                title="Dining &amp; Serveware"
                alt="Dining &amp; Serveware"
                sizes="125px"
              />
            </a>
          </div>
        </div>
        <div class="col-4 banner_box">
          <div
            class="slide ripple_effect home-item-info"
            id="item_1_3063_19046"
          >
            <a
              href="https://www.jiomart.com/toys-and-games"
              rel="nofollow"
              class="home_ripple"
              title="Toys &amp; Games"
            >
              <img
                class="banner_img lazyautosizes lazyloaded"
                src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774676_9.jpg"
                data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774676_9.jpg"
                data-sizes="auto"
                title="Toys &amp; Games"
                alt="Toys &amp; Games"
                sizes="125px"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 banner_box">
          <div
            class="slide ripple_effect home-item-info"
            id="item_1_3063_19047"
          >
            <a
              href="/c/bestdeals/ac-blankets-comforters_09_20_01/9022"
              rel="nofollow"
              class="home_ripple"
              title="AC Blankets &amp; Comforters"
            >
              <img
                class="banner_img lazyautosizes lazyloaded"
                src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774707_10.jpg"
                data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774707_10.jpg"
                data-sizes="auto"
                title="AC Blankets &amp; Comforters"
                alt="AC Blankets &amp; Comforters"
                sizes="125px"
              />
            </a>
          </div>
        </div>
        <div class="col-4 banner_box">
          <div
            class="slide ripple_effect home-item-info"
            id="item_1_3063_19049"
          >
            <a
              href="/c/bestdeals/bags-travel-luggage_09_20_01/8898"
              rel="nofollow"
              class="home_ripple"
              title="Bag &amp; Travel Luggage"
            >
              <img
                class="banner_img lazyautosizes lazyloaded"
                src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774729_11.jpg"
                data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774729_11.jpg"
                data-sizes="auto"
                title="Bag &amp; Travel Luggage"
                alt="Bag &amp; Travel Luggage"
                sizes="125px"
              />
            </a>
          </div>
        </div>
        <div class="col-4 banner_box">
          <div
            class="slide ripple_effect home-item-info"
            id="item_1_3063_19071"
          >
            <a
              href="/c/bestdeals/disposables_09_20_01_02/8899"
              rel="nofollow"
              class="home_ripple"
              title="Disposables"
            >
              <img
                class="banner_img lazyautosizes lazyloaded"
                src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774749_12.jpg"
                data-src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1663774749_12.jpg"
                data-sizes="auto"
                title="Disposables"
                alt="Disposables"
                sizes="125px"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
